.container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: grey;
    transition: transform 0.3s ease-in-out; /* Animasyon ekliyoruz */
  }
  
  .box:hover {
    transform: scale(1.2); /* Mouse üzerine gelince kutu büyüsün */
  }